{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 75px;">
        <div class="card mb-3">
            <img src="{{ playlist_detail.list_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">{{ playlist_detail.title }}</h2>
                <p class="card-text">{{ playlist_detail.body }}</p>
                <p class="card-text"><small class="text-muted">작성일 : {{ playlist_detail.date }} <br> 작성자 : {{ playlist_detail.writer }} <br> 유형 : {{ playlist_detail.list_type }}  <br> 장르 : {{ playlist_detail.list_genre }} <br> 찜 : {{ playlist_detail.like }}</small></p>
            </div>
            {% if user.username == playlist_detail.writer %}
                <div class="card-footer" style="text-align: right;">
                    <small class="text-muted"><a href="{% url 'edit' playlist_detail.id %}" style="padding-right: 10px;">수정하기</a><a href="{% url 'delete' playlist_detail.id %}">삭제하기</a></small>
                </div>
            {% else %}
                <div class="card-footer" style="text-align: center;">
                    <small class="text-muted">
                        <a href="{% url 'like' playlist_detail.id %}">
                            {% if user in playlist_detail.like_users.all %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                    <path d="M8 6.236l-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                </svg>
                            {% endif %}
                        </a>
                    </small>
                </div>
            {% endif %}
            <div class="card-footer" style="text-align: right;">
                <small class="text-muted">
                    <form action="{% url 'writecomment' playlist_detail.id %}" method="POST">
                        {% csrf_token %} 
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="댓글" id="floatingTextarea" name='content'></textarea>
                            <input type="submit" value="댓글 달기">
                        </div>
                    </form>
                </small>
            </div>
        </div>
        <div class="row">
            {% for comment in comments %}
            <div class="card border-secondary col-lg-3 col-md-3 mb-4">
                <div class="card-header">{{comment.writer}}</div>
                <div class="card-body text-secondary">
                    <p class="card-text">
                        {{comment.content}}
                    </p>
                    <div style="text-align: right;">
                        {% if user.username == comment.writer %}
                            <a href="">삭제하기</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}