{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 75px; margin-left: 15%;">
        <h1> Hot한 플레이리스트</h1>
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <div class="row">
                    {% for play in playlist %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="{% url 'detail' play.id %}"><img class="card-img-top" src="{{ play.list_image.url }}" alt=""></a>
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <a href="{% url 'detail' play.id %}">{{ play.title }}</a>
                                    </h3>
                                    <h5>작성자 : {{ play.writer }}</h5>
                                    <p class="card-text">{{ play.body }}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">작성일 : {{ play.date }} <br> 유형 : {{ play.list_type }} <br> 장르 : {{ play.list_genre }} <br> 찜 : {{ play.like }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <h5><a href="{% url 'search' %}">더보기</a></h5>
        </div>
        <h1> 내가 찜한 플레이리스트</h1>
        {% if user.is_authenticated %}
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <div class="row">
                    {% for my_play in my_playlist %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="{% url 'detail' my_play.id %}"><img class="card-img-top" src="{{ my_play.list_image.url }}" alt=""></a>
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <a href="{% url 'detail' my_play.id %}">{{ my_play.title }}</a>
                                    </h3>
                                    <h5>작성자: {{ my_play.writer }}</h5>
                                    <p class="card-text">{{ my_play.body }}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">작성일 : {{ my_play.date }} <br> 유형 : {{ my_play.list_type }} <br> 장르 : {{ my_play.list_genre }} <br> 찜 : {{ my_play.like }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if my_list_num == 0 %}
            <div style="text-align: center;">
                <h5><a href="{% url 'search' %}">다른 플레이리스트 보러가기</a></h5>
            </div>
        {% else %}
            <div style="text-align: center;">
                <h5><a href="{% url 'search' %}">더보기</a></h5>
            </div>
        {% endif %}
        {% else %}
        <div style="text-align: center;">
            <h5><a href="{% url 'login' %}">로그인해주세요</a></h5>
        </div>
        {% endif %}
    </div>
{% endblock %}