{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 75px;">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <div class="row">
                    <!-- for문 사용하기 -->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">제목</a>
                                </h4>
                                <h5>글쓴이</h5>
                                <p class="card-text">설명</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">유형 : <br> 테마 : <br> 찜 : </small>
                            </div>
                        </div>
                    </div>
                    <!-- 여기까지 -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}